body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--cGray7);
    font-family: var(--font1);
    font-size: var(--textSize);
}
header, footer {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color1);
    background-color: var(--cGray8);
    padding: var(--spaceIn) 0;
   
}
main h2 {
    color: var(--cGray5);
    padding-bottom: var(--spaceIn);
}
.menu {
    width: 100px;
    background-color: var(--cGray8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: display 2s ease-in-out, width 1s linear;
}
a {
    padding: 0 10px;
    color: var(--cGray6);
    text-decoration: none;
    transition: var(--transition);
}
a:hover, a:active {
    color: var(--cGray8);
}