form {
    display: flex;
    flex-direction: column;
    gap: var(--spaceIn);
}
input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 0;
}

.flexInline {
    display: flex;
    gap: var(--spaceIn);
    align-items: center;
}
.flexRowJustify {
    justify-content: space-between;
}
.cw120 {
    width: 120px;
}