:root {
    --color0: white;
    --color1: black;
    --color2: gray;
    --color3: silver;
    --color4: yellow;
    --color5: lime;
    --color6: cyan;
    --color7: red;
    --colorLogo: cornflowerblue; /* to be Deprecated */
    --cPrimary: #0066CC;
    --cComplem: #CC6600;
    --cSplit1: #CC0000;
    --cSplit2: #CCCC00;
    --cMono1: #0052A3;
    --cMono2: #007AF5;
    --cAnalog1: #0000CC;
    --cAnalog2: #00CCCC;
    --cTriad1: #CC0066;
    --cTriad2: #66CC00;
    --cSquare1: #CC00CC;
    --cSquare2: #CC6600;
    --cSquare3: #00CC00;
    --cGray1: rgb(248, 249, 250); 
    --cGray2: rgb(233, 236, 239); 
    --cGray3: rgb(222, 226, 230); 
    --cGray4: rgb(206, 212, 218); 
    --cGray5: rgb(173, 181, 189); 
    --cGray6: rgb(108, 117, 125); 
    --cGray7: rgb(73, 80, 87); 
    --cGray8: rgb(52, 58, 64); 
    --cGray9: rgb(33, 37, 41); 

    --font1: Arial, Helvetica;
    --spaceIn: 10px;
    --spaceOut: 30px;
    --textSize: 10pt; 
    --btnTextSize: 8pt; 
    --transition: .5s;
}
* {
    margin: 0;
    padding: 0;
}

/* elements (tags) */

body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--cGray3);
    font-family: var(--font1);
    font-size: var(--textSize);
}
header, footer {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color1);
    background-color: var(--cPrimary);
    padding: var(--spaceIn) 0;
   
}
header img {
    height: var(--spaceOut);
    padding: 0 var(--spaceIn);
    cursor: pointer;

}
footer {
    flex-direction: column;
}
main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
main h2 {
    color: var(--cPrimary);
    padding-bottom: var(--spaceIn);
}
.menu {
    width: 100px;
    background-color: var(--cPrimary);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: display 2s ease-in-out, width 1s linear;
}
.menu a {
    color: var(--cGray1);
    padding: var(--spaceIn);
}
.menu a:hover {
    color: var(--cSplit2);
}
input {
    width: 100%;;
    padding: 5px;
    border-radius: var(--spaceOut);
    border: 0;
}
.search {
    width: 80%;
    display: flex;
    align-items: center;
    gap: var(--spaceIn)
}
.btnSearch {
    border-radius: var(--spaceOut);
    margin:0;
    padding: 5px;
    transition: var(--transition);
}
a {
    padding: 0 10px;
    color: var(--cGray3);
    text-decoration: none;
    transition: var(--transition);
}

/* classes */
.content {
    width: 100%;
    margin: var(--spaceOut);
}

/* pseudo-classes */
a:hover, a:active {
    color: var(--cPrimary);
}
a:active {
    color: var(--cAnalog2);
}
a[href="index.html"] {
    color: var(--cGray3);
    font-size: 18pt;
    transition: var(--transition);
}
a[href="index.html"]:hover {
    color: var(--cAnalog2);
    transition: var(--transition);
}
input:focus {
    padding: var(--spaceIn);
    border: none;
    outline-style: none;
    background-color: var(--cGray3);
    transition: var(--transition);
}
.btnSearch:hover {
    color: var(--cGray3);
    background-color: var(--color1);
    cursor: pointer;
    transition: var(--transition);
}
.btnSearch:active {
    background-color: var(----cGray7);
}

/* pseudo-elements 
   pode ser acrescentado às pseudo classes, como em:
   a[href="index.html"]:has(+div):hover {
                        ---------
   + seguido de                          (<h2></h2><p></p>)
   > possui       (como elemento aninhado <h2>><p></p></h2)
*/
/*
h2:has(+p) {
    color: var(--cPrimary);
    margin-top: var(--spaceOut);
}

p:not(.prodPreco) {
    color: var(--cPrimary);
}
p::before {
    content: ". ";
}
p::after {
    content: " .";
}
*/
::placeholder {
    color: var(----cGray5);
    padding-left: var(--spaceIn);
};

/* Atividade */

.category {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.categoryName {
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    color: var(--cGray5);
    transition: var(--transition);
}
/* esses saem... */
.selectedCategory {
    color: var(--cPrimary);
    transition: var(--transition);
}
.prodDesc {
    color: var(--color1);
}
.products {
    width: 100%;
    display: none;
    flex-direction: column;
}


.product {
    width: 100%;
    padding-top: var(--spaceIn);
    display: flex;
}
.product img {
    height: var(--spaceOut);
    margin-right: var(--spaceIn);
}
.prodName {
    color: var(--cPrimary);
    font-weight: bold;
}
.prodDesc {
    font-style: italic;
}
.prodBuy {
    padding: 5px 0;
    font-weight: bold;
    color: var(--cPrimary);

    display: flex;
    justify-content: space-between;
}
.prodButton:active {
    color: var(--color1);
    background-color: var(--cAnalog2);
}
.copyright {
    color: var(--cGray3);
    font-weight: bold;
}


