.table {
    width: 100%;
    margin-bottom: var(--spaceOut);   
    background-color: var(--cGray6);
    border-radius: 10px;
    padding: var(--spaceIn);
}
.listRow {
    background-color: var(--cGray6);
    margin-top: var(--spaceOut); 
}
.itemRow {
    margin: 5px;
}

.update, .create, .delete {
    width: 24px;
    cursor: pointer;
    text-align: center;
}
.listName {
    width: 100%;
    font-weight: bold;
    font-size: 12pt;
    background-color: var(--cGray6);
}
.itemName, .itemDesc, .itemPrice  {
    padding-top: 5px;
    border: 0;
}
.itemName {
    padding-left: var(--spaceIn); 
    background-color: var(--cGray6);
}
.itemPrice {
    width: 50px;
}
